h1 {
    text-align: center;
}
header {
    text-align: center;
}
nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
}

p {


    text-align: center;
    vertical-align: middle;
    padding: 3em;
   

}
.box {
    border-radius: 5px  black;
    padding: 50px;
    margin: 20px;

    background-color: lightgrey;
   
    font-size: 1.2em;
 
    align-items: center;
     text-align: center;
     width: 50em
}

nav {
  background-color: lightblue;
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
  width: 100%;
}
nav  {
  list-style-type: none;
  display: flex;
}
nav a {
  padding:1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;

}
nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: rgb(206, 21, 21);
  background-color: rgb(66, 205, 205);

}
.home-grid {
  display: flex;
  flex-direction:row;
  justify-content: center;
  gap: 20px;

}


.info-section {

  display: grid;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.pibb {
 grid-column: 3/4;
  grid-row:3/4;
  background-color: lightgrey;
  padding: 20px;
  border-radius: 5px;
}

.Geeble {

  grid-row: 2/3;
  grid-column: 3/4;
  background-color: lightgrey;
  padding: 20px;
  border-radius: 5px;
 

}

.jotchua-pic {
grid-row: 2/3;
grid-column: 2/3;
border-radius: 5px;
}
  
.jotchua-pics {
  grid-row: 3/4;
  grid-column: 2/3 ;
  border-radius: 5px;
 
  
  }

  h1 {
    text-align: center;
    align-items: center;
    grid-column: 2/4;
    
    
  }

  .jot {
    background-color: lightgrey;
    padding: 20px;
    border-radius: 5px;
    grid-column: 2 / 4;
    grid-row: 4 / 5;
    margin-top: -120px;
  }

  #icon {
  margin-top: 10px;
}

footer a {
    text-decoration: none;
    color: #ffffff;
    padding: 25px 50px;
    
}
footer p {
    font-size: 1.2em;
    color: #ffffff;
    font-family: monospace, Courier, bold;
}    

footer p a:hover {
    text-decoration: underline;
    background-color: rgb(119, 196, 153);
}


  