#content {
    max-width: 1600px;
    margin: 0 auto;
    
}
nav a {
    text-align: center;
    text-decoration: none;
    color: #ffffff;
   
}

#background {
    height: 725px;
    background-color: burlywood
    
}

body {
    background-color: #fcfbfb;

    font-size: 22px;
    margin: 0;
    padding: 0;

    
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header {
    background-color:rgba(20,30,13, .7);
    display: grid;
    grid-template-columns: 150px auto;
}
nav a:hover {
    background-color: rgb(90, 122, 84);
    text-decoration: none;
    
}

footer {
    background-color: rgba(20,30,13, .7);
    color: white;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon, .logo {
    width: 80px;
    padding-top: 10px; 

}
.msg {
    background-color: rgba(20,30,13, .7);
    color: #ffffff;
    padding: 35px;
    font-family: oblique, Arial, sans-serif;
    grid-column: 6/10;
    grid-row: 6/7
}

.msg {

    box-shadow: 5px 5px 10px #6f7364;
}

                
.book:hover, .join:hover {
    background-color: rgb(215, 177, 49);
}
.book, .join {
    background-color: rgba(196, 104, 13, 0.922);
    text-decoration: none;
    color: white;
    padding: 10px 25px;
    margin-top: 50px;
    border-radius: 5px;
  
}
#hero-img {
    width: 100%;
}

footer a {
    text-decoration: none;
    color: #ffffff;
    padding: 25px 50px;
}
footer p {
    font-size: 1.2em;
    color: #ffffff;
    font-family: monospace, Courier, bold;
}    

footer p a:hover {
    text-decoration: underline;
    background-color: rgb(208, 176, 238);
    
    
}    
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}
               
.rivers-card, .camping-card, .rapids-card {

  margin: 200px 0;
}

.card-img {
  border: 10px solid #d9c2a3;
   transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

#logo_link {
    padding-top: 5px;
     padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.home_title {
    margin-top: 10px;
    font-family: oblique, Arial, sans-serif;
}
    main section img {
    box-sizing: border-box;
}

.mountains  {
    padding: 30px;
}

.home-grid {

    font-family: oblique, sans-serif, Arial;

}
#hero {
     padding-top: 5px;
    justify-self: center;
    align-self: center;
    margin-top: -100px; 
}
#hero-box {
     grid-column: 1/4;
    grid-row: 1/3;
     margin-top: 100px;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
     margin-top: 100px;
}   
#hero-msg h4 {
    color: white;
}
.card-img, .mountains {
    width: 100%;
    
}

.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}
.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}
#background {
    grid-column: 1/11;
    grid-row: 4/9;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 100%;
    gap: 20px;
    max-width: 1600px;
    margin: 0 auto;
}




@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}