

.content {
   

    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr;
    

    
}

.left {

    width: 50vw;
    height: auto;
    background-color: white;

    
   
   

}

.right {

    width: 50vw;
    height: auto;
  
    background-color: lightgrey;
    
    
}

.first {

    display: flex; align-items: center; justify-content: center;

    grid-row: 1/2;
    grid-column: 1/2;
    z-index: 1;
    grid-area: 1/1
    
    
}



